.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.bg-my-primary {
  background-color: #F6921E;
}

.text-my-color-navbar {
  color: #F6921E;
}

.my-main {
  height: 100vh;
}

.my-layout {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.my-layout .my-header {
  flex: 0 1 auto;
}

.my-layout .my-content {
  display: flex;
  flex-flow: column;
  flex: 1 1 auto;
  overflow-y: auto;
}

.my-layout .my-footer {
  flex: 0 1 40px;
}

.my-container {
  max-width: 1200px;
  width: 100%;
}

.my-center-vertiacal {
  display: flex;
  align-items: center;
  padding-left: 0px!important;
  padding-right: 0px!important;
}

.my-center-horizontal {
  display: flex;
  justify-content: center;
  padding-left: 0px;
  padding-right: 0px;
}

.color-free {
  background-color: #33cc33;
}

.color-reservation {
  background-color: #ff9900;
}

.color-active {
  background-color: #ff3300;
}

.modal-90 {
  width: 90%!important;
  max-width: 1100px!important;
  margin: auto;
}

.height-60{
  height: 60px;
}

.my-food-item {
  max-height: 456px;
}